@use "../../scss/colors" as *;

.TopNavContainer {
    padding: 5px 20px 5px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
}

.redditLogoImg {
    height: 35px;
}

// Search input
.searchInputContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
}

.light.searchInputContainer {
    background-color: $gray-100;
    border: 1px solid $gray-200;

    &:hover {
        border: 1px solid $blue-700;
        background-color: transparent;

        .searchInput {
            background-color: transparent;
        }
    }
}

.dark.searchInputContainer {
    background-color: $dark-600;
    border: 1px solid $dark-400;

    &:hover {
        border: 1px solid $white;
        background-color: transparent;

        .searchInput {
            background-color: transparent;
        }
    }
}

.light.searchInputContainer:focus-within {
    border: 1px solid $blue-700;
    background-color: transparent;
}

.dark.searchInputContainer:focus-within {
    border: 1px solid $white;
    background-color: transparent;
}

.searchIcon {
    color: $gray-600;
    font-size: 25px !important;
    margin-left: 5px;
}

.searchInput {
    width: 600px;
    height: 35px;
    padding: 5px;
    box-sizing: border-box;
    font-size: 14px !important;
    font-family: 'Noto Sans', sans-serif !important;
    border: none;
    border-radius: 5px;
}

.light.searchInput {
    background-color: $gray-100;
    color: $dark-900;

    &:focus {
        outline: none;
        background-color: transparent;
    }
}

.dark.searchInput {
    background-color: $dark-600;
    color: $white;

    &:focus {
        outline: none;
        background-color: transparent;
    }
}

.searchLabel {
    display: flex;
    align-content: center;
}

// Right button section (contains log in, sign up, and right menu buttons)
.rightButtonSection {
    display: flex;
    flex-direction: row;
    height: 35px;
    align-items: center;
}

.logInButton {
    height: 35px;
    border-radius: 20px;
    width: 120px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    font-size: 14px;
    margin: 0px 5px 0px 5px;
    cursor: pointer;
    background-color: transparent;
}

.light.logInButton {
    border: 1px solid $blue-700;
    color: $blue-700;

    &:hover {
        background-color: $gray-100;
    }
}

.dark.logInButton {
    border: 1px solid $white;
    color: $white;

    &:hover {
        background-color: $gray-900;
    }
}

.signUpButton {
    height: 35px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    border-radius: 20px;
    width: 120px;
    margin: 0px 5px 0px 5px;
    cursor: pointer;
}

.light.signUpButton {
    color: $white;
    background-color: $blue-700;
    border: 1px solid $blue-700;

    &:hover {
        background-color: $blue-600;
    }
}

.dark.signUpButton {
    color: $dark-700;
    background-color: $white;
    border: 1px solid $white;

    &:hover {
        background-color: $dark-000;
    }
}

.smGrayIcon {
    color: $gray-600;
    font-size: 25px !important;
}

.iconContainer {
    margin: 0px 5px 0px 5px;
    cursor: pointer;
    height: 35px;
    padding: 0px 5px 0px 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;

    &:hover {
        border: 1px solid $gray-500  !important;
    }
}

.light.iconContainer {
    border: 1px solid $white;
}

.dark.iconContainer {
    border: 1px solid $dark-700;
}

// Right menu
.rightMenuItem {
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
}

.rightMenuIcon {
    margin-right: 12px;
    font-size: 24px;
    color: $dark-500;
}

// Home menu (drop down menu on left side of nav)
// .homeMenuButtonContainer {
//     display: inline-block;
//     width: 220px;
//     height: 35px;

//     .homeMenuButton {
//         border: 1px solid $white;
//         background-color: transparent;
//         cursor: pointer;
//         border-radius: 5px;
//         height: 100%;
//         display: flex;
//         flex-direction: row;
//         align-items: center;
//         padding: 0 10px 0 10px;
//         width: 100%;

//         &:hover {
//             border: 1px solid $gray-200;
//         }

//         .homeIcon {
//             margin-right: 10px;
//         }

//         .downArrowIcon {
//             margin-left: auto;
//         }
//     }

//     .homeMenu {
//         background-color: $white;
//         width: 220px;
//         height: 400px;
//         overflow-y: scroll;

//         ul {
//             list-style-type: none;
//             padding: 0;
//         }
//     }
// }