@use "./colors" as *;

body {
    margin: 0;
}

.container {
    min-height: 100vh;
    height: 100%;
}

.light {
    .mainText {
        color: $dark-900;
    }

    .appBackground {
        background-color: $dark-000;
    }

    .componentBackground {
        background-color: $white;
    }
}

.dark {
    .mainText {
        color: $white;
    }

    .appBackground {
        background-color: $black;
    }

    .componentBackground {
        background-color: $dark-700;
    }
}

// This is for the right menu in TopNav
.MuiList-root {
    padding: 0 !important;
    background-color: $dark-900;
}